/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/reset.h>

// --- LATIN AMERICAN SPANISH ALIASES (FOR MACOS) ---
// These map US keys to what a Mac set to "Spanish - Latin American" expects.
#define ES_NTIL SEMI       // ñ
#define ES_IQUE EQUAL      // ¿
#define ES_QUES LS(EQUAL)  // ?
#define ES_IEXCL GRAVE     // ¡
#define ES_EXCL LS(N1)     // !
#define ES_AT   LA(N2)     // @ (Option + 2 on Mac)
#define ES_HASH LA(N3)     // # (Option + 3 on Mac)
#define ES_PIPE LA(N1)     // | (Option + 1 on Mac)
#define ES_BSLH LA(LS(N7)) // \ (Option + Shift + 7 on Mac)
#define ES_LBKT LA(N8)     // [ (Option + 8 on Mac)
#define ES_RBKT LA(N9)     // ] (Option + 9 on Mac)
#define ES_LBRC LA(LS(N8)) // { (Option + Shift + 8 on Mac)
#define ES_RBRC LA(LS(N9)) // } (Option + Shift + 9 on Mac)
#define ES_LPAR LS(N8)     // (
#define ES_RPAR LS(N9)     // )
#define ES_LT   GRAVE      // < (Often shared with ¡/!)
#define ES_GT   LS(GRAVE)  // >
#define ES_MINS SLASH      // -
#define ES_PLUS RS(BSLH)   // +
#define ES_EQL  LS(N0)     // =
#define ES_SLSH LS(N7)     // /
#define ES_ASTR LS(BSLH)   // *

// Layer definitions
#define DEFAULT 0
#define NAV     1
#define NUM     2
#define SYM     3
#define FUN     4

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_btclr_left {
            timeout-ms = <5000>;
            key-positions = <36 37 38>;
            bindings = <&bt BT_CLR>;
        };
        combo_btclr_right {
            timeout-ms = <5000>;
            key-positions = <39 40 41>;
            bindings = <&bt BT_CLR>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NAV NUM>;
            then-layer = <FUN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
   &none  &kp Q        &kp W        &kp E        &kp R        &kp T          &kp Y        &kp U        &kp I        &kp O        &kp P         &none
   &none  &hm LGUI A   &hm LALT S   &hm LSHFT D  &hm LCTRL F  &kp G          &kp H        &hm RCTRL J  &hm RSHFT K  &hm RALT L   &hm RGUI ES_NTIL &none
   &none  &kp Z        &kp X        &kp C        &kp V        &kp B          &kp N        &kp M        &kp COMMA    &kp DOT      &kp ES_MINS   &none
                                    &kp LGUI     &lt NAV BSPC &lt SYM SPACE  &kp RET      &lt NUM DEL  &kp LALT
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
   &none  &kp ESC      &kp F5       &kp LG(F5)   &kp LG(DOT)  &none          &none        &kp HOME     &kp UP       &kp END      &kp PG_UP    &none
   &none  &kp LALT     &kp LSHFT    &kp LCTRL    &kp LGUI     &none          &none        &kp LEFT     &kp DOWN     &kp RIGHT    &kp PG_DN    &none
   &none  &kp LG(Z)    &kp LG(X)    &kp LG(C)    &kp LG(V)    &none          &kp INS      &kp LG(LEFT) &none        &kp LG(RIGHT) &none       &none
                                    &trans       &trans       &trans         &none        &trans       &trans
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
   &none  &none        &none        &none        &none        &none          &kp ES_PLUS  &kp N1       &kp N2       &kp N3       &kp ES_ASTR  &none
   &none  &none        &none        &none        &none        &none          &none        &kp N4       &kp N5       &kp N6       &kp N0       &none
   &none  &none        &none        &none        &none        &none          &kp ES_MINS  &kp N7       &kp N8       &kp N9       &kp ES_SLSH  &none
                                    &trans       &trans       &trans         &trans       &trans       &trans
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
   &none  &kp ES_IQUE  &kp ES_QUES  &kp ES_IEXCL &kp ES_EXCL  &kp ES_BSLH    &kp ES_PIPE  &kp ES_LPAR  &kp ES_RPAR  &kp ES_LT    &kp ES_GT    &none
   &none  &kp GRAVE    &kp LS(N6)   &kp LS(N2)   &kp LS(N3)   &kp LS(N6)     &kp ES_AT    &kp ES_LBRC  &kp ES_RBRC  &kp ES_LBKT  &kp ES_RBKT  &none
   &none  &kp LS(GRAVE)&kp LS(N5)   &kp ES_HASH  &kp LS(N4)   &kp LA(LS(N2)) &kp ES_ASTR  &kp ES_PLUS  &kp ES_EQL   &kp ES_MINS  &kp ES_SLSH  &none
                                    &trans       &trans       &trans         &trans       &trans       &trans
            >;
        };

        fun_layer {
            display-name = "Fun";
            bindings = <
   &none  &kp F1       &kp F2       &kp F3       &kp F4       &kp F5         &kp C_BRI_UP &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE   &kp PSCRN    &none
   &none  &kp F6       &kp F7       &kp F8       &kp F9       &kp F10        &kp C_BRI_DN &kp C_PREV   &kp C_PP     &kp C_NEXT   &bootloader  &none
   &none  &kp F11      &kp F12      &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2 &bt BT_SEL 3 &none        &none        &sys_reset   &none
                                    &trans       &trans       &trans         &trans       &trans       &trans
            >;
        };
    };
};

// -----------------------------------------------------------------------------------------
// VISUAL REFERENCE FOR LEARNING
// -----------------------------------------------------------------------------------------

// QWERTY - MacOS Optimized
// | NONE |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | NONE |
// | NONE | CMD | ALT | SHFT| CTRL|  G  |   |  H  | CTRL| SHFT| ALT | CMD | NONE |
// | NONE |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  -  | NONE |

// NAV - MacOS (Command/GUI Based)
// | NONE | ESC | F5  |CMD-F5|CMD-.|     |   |     | HOME|  UP | END | PGUP| NONE |
// | NONE | ALT | SHFT| CTRL| CMD |     |   |     | LFT | DWN | RGT | PGDN| NONE |
// | NONE |CMD-Z|CMD-X|CMD-C|CMD-V|     |   | INS |C-LFT|     |C-RGT|     | NONE |

// SYM - Paired Delimiters
// | NONE |  ¿  |  ?  |  ¡  |  !  |  \  |   |  |  |  (  |  )  |  <  |  >  | NONE |
// | NONE |  `  |  ~  |  "  |  '  |  &  |   |  @  |  {  |  }  |  [  |  ]  | NONE |
// | NONE |  ^  |  %  |  #  |  $  |  €  |   |  * |  +  |  =  |  -  |  /  | NONE |